.container{
    max-width: 550px;
}
h1{
    background: #4590f3;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
    margin: 5px auto;
}
.login{
    border-radius: 10px;
    margin-top:15px;
    margin-bottom: 5px;
    background: linear-gradient(to right,#d19b9bda,rgba(104, 163, 163, 0.787));
}
.register{
    border-radius: 10px;
    margin-top:15px;
    margin-bottom: 5px;
    background: linear-gradient(to left,#d19b9bda,rgba(104, 163, 163, 0.787));
}
form{
    border: 2px solid #546991;
    padding: 6px;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: #fff;
}
.hide{
    display: none;
}